
@{
    ViewData["Title"] = "Index";
    int count = 1;
}
@model List<Setting>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">TeamName</th>
            <th scope="col">Teamtitle</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@item.TeamName</td>
                <td>@item.TeamTitle</td>
                <td>
                    <a class="btn btn-outline-info" asp-controller="Setting" asp-action="edit" asp-route-id=@item.Id>Edit</a>
                </td>
                
            </tr>
            count++;
        }
    </tbody>
</table>


